.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  margin-top: 10px;
  width: 250px;
}

.comment-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-input {
  margin-top: 10px;
  width: 250px;
  min-height: 200px;
}

.comment-input::placeholder {
  text-align: start;
}

.comment-form-button { 
  margin-top: 10px;
  margin-bottom: 30px;
}

.comment {
  border: 1px solid black;
  width: 400px;
  margin-bottom: 15px;
  padding: 10px;
}

.comment-message { 
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}